<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block">
    <ion-card color="light">
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Senha:</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
    </ion-card>
  </div>

  <ion-button expand="block">Cadastrar</ion-button>
  <ion-button expand="block" color="danger" href="login">Cancelar</ion-button>

</ion-content>