<ion-header>
    <ion-toolbar>
      <ion-title>Cadastrar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="MPadrao">
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar senha:</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
  
      <ion-button expand="block" type="submit">Cadastrar</ion-button>
      <ion-button expand="block" color="danger">Cancelar</ion-button>
    </div>
  </ion-content>