<ion-content>
  <img src="../assets/teste.png" alt="">
  <h4 text-center>Votaê</h4>
  <ion-item>
    <ion-label position="floating">Email, telefone ou identificação:</ion-label>
    <ion-input required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>
  <ion-button expand="block" fill="outline">Entrar</ion-button>
  <ion-button expand="block" fill="outline" color="danger">Cadastrar</ion-button>
</ion-content>