.banner {
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-light);
    max-height: 60px;
    padding: 10px;
    font-weight: 800px;
}
.block{
    margin-bottom:4px
}
