<ion-header>
    <ion-toolbar>
        <ion-title>
            Eleições
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <ion-card (click)="abrirEleicao(12)" *ngFor="let eleicao of lista | async"> -->
    <ion-card (click)="abrirEleicao(eleicao)" *ngFor="let eleicao of lista | async">
        <ion-card-header>
            <ion-card-title>{{eleicao.nome}}</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Data de inicio: {{eleicao.data.inicio| date:'dd/MM/yyyy'}}
            <br> Data de fim: {{eleicao.data.fim | date:'dd/MM/yyyy'}}
        </ion-card-content>
    </ion-card>

    <!-- <ion-card (click)="abrirEleicao(1254)">
        <ion-card-header>
            <ion-card-title>Eleição Acadêmica</ion-card-title>
            <ion-card-subtitle>UNA - Barreiro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Data de inicio: 19 de março <br> Data de fim: 22 de março
        </ion-card-content>
    </ion-card> -->

</ion-content>