<ion-header>
    <ion-toolbar>
        <ion-title>
            Principal
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row no-padding class="banner">
        <ion-col text-center>Privadas</ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
        <div *ngFor="let eleicaoPr of listaPr | async" class="block">
            <ion-slide>
                <ion-card (click)="abrirEleicao(eleicaoPr.id)" >
                    <ion-card-header>
                        <ion-card-title>{{eleicaoPr.nome}}</ion-card-title>
                        <ion-card-subtitle>TRF</ion-card-subtitle>
                    </ion-card-header>
    
                    <ion-card-content>
                        Data de inicio: {{eleicaoPr.data.inicio   | date: 'dd/MM/yyyy'}} <br>
                        Data de fim: {{eleicaoPr.data.fim      | date: 'dd/MM/yyyy'}}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </div>
    </ion-slides>
    <ion-row no-padding class="banner">
        <ion-col text-center>Pública</ion-col>
    </ion-row>
        <ion-slides [options]="sliderConfig">
            <div *ngFor="let eleicaoPu of listaPu | async" class="block">
                <ion-slide>
                    <ion-card (click)="abrirEleicao(eleicaoPu.id)" >
                        <ion-card-header>
                            <ion-card-title>{{eleicaoPu.nome}}</ion-card-title>
                            <ion-card-subtitle>TRF</ion-card-subtitle>
                        </ion-card-header>
        
                        <ion-card-content>
                            Data de inicio: {{eleicaoPu.data.inicio   | date: 'dd/MM/yyyy'}} <br>
                            Data de fim: {{eleicaoPu.data.fim      | date: 'dd/MM/yyyy'}}
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </div>
        </ion-slides>
</ion-content>