<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar style="margin: 20px auto; width: 45%; height: 30%;">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>

  <ion-label style="text-align: center;">
    <h3 style="font-size: 150%;">FULANO CICLANO</h3>
  </ion-label>

  <ion-item>
    <ion-label>DADOS</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>DADOS</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>DADOS</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>DATA</ion-label>
    <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-button style="width: 100%">Editar</ion-button>

</ion-content>